* {
margin: 0;
padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}

.container button {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 15px -5px black;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.container button:hover {
    box-shadow: 0px 0px 0px 4px black;
    transition: box-shadow 0.2s;
} 

.container1 button {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 15px -5px black;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.container1 button:hover {
    box-shadow: 0px 0px 0px 4px black;
    transition: box-shadow 0.2s;
} 
.container2 button {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 15px -5px black;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.container2 button:hover {
    box-shadow: 0px 0px 0px 4px black;
    transition: box-shadow 0.2s;
} 